<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title><%- pageTitle %></title>
   <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta16/dist/js/tabler.min.js"></script>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta16/dist/css/tabler.min.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.min.css">
   <link rel="stylesheet" href="/css/main.css">
</head>

<body>
   <div class="page">

      <!-- Navbar -->
      <%- include('../partials/_header.ejs') %>

      <!-- Page -->
      <div class="page-wrapper">

         <!-- Page header -->
         <div class="page-header d-print-none">
            <div class="container-xl px-4 px-xl-2">
               <div class="row g-2 align-items-center">
                  <div class="col">
                     <!-- Page pre-title -->
                     <div class="page-pretitle"><%- pageSection %></div>
                     <h2 class="page-title"><%- pageTitle %></h2>
                  </div>
               </div>
            </div>
         </div>

         <!-- Page body -->
         <div class="page-body">
            <div class="container-xl px-4 px-xl-2">
               <%- body %>
            </div>
         </div>

         <!-- Page footer -->
         <%- include('../partials/_footer.ejs') %>
      </div>
   </div>
</body>

</html>